.icon {
  height: 45px;
  width: 45px;
}

.input-search {
  width: 20vw !important;
}

.button-Search {
  font-weight: bold !important;
  text-transform: uppercase;
  border-color: #e56334 !important;
  color: #e56334 !important;
}

.button-Search:hover {
  background-color: #d12b4d;
  color: white !important;
}
