@supports (display: grid) {
  .pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 18rem));
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

@media only screen and (max-device-width: 425px) {
  .miniPokemonDetails {
    width: 67vw !important;
  }
}

.container-btn-lazy-loading {
  display: flex !important;
  justify-content: center;
}

.btn-lazy-loading {
  border-radius: 2px;
  background-color: transparent !important;
  font-weight: bold !important;
  text-transform: uppercase;
  border-color: #e56334 !important;
  color: #e56334 !important;
  margin-bottom: 30px;
  display: flex !important;
  flex-wrap: nowrap;
  align-items: center;
  width: 210px;
  justify-content: center;
}

.btn-lazy-loading:hover {
  background-color: #d12b4d !important;
  color: white !important;
}

.animation-hover:hover {
  cursor: pointer;
  animation: shadow-drop-2-bottom 0.5s normal;
}

@keyframes shadow-drop-2-bottom {
  0% {
    transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: translateZ(50px) translateY(-12px);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
